body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/img/fundo.jpg');
    background-blend-mode: overlay;
    opacity: 0.95;
    color: #000000;
    margin: 0;
    padding: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.container2 {
  align-items: first ;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.form-group h2 {
  color: #520027;
  font-style:oblique;
}
.form-group span {
  color: #520027;
  font-family: 'tangerine';
}
.form-group2 {
  margin-top: 30%
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
.logo img {
    width: auto;
    height: 80px;
    max-width: 100%;
    margin-right: 10px;
}
.logo {
  display: flex;
}
.logo h2 {
  display: flex;
  justify-content: space-between;
  font-family: 'tangerine';
  font-size: 30px;
  text-align: right;
}
.nav {
    display: flex;
    justify-content: flex-end;
    gap: 15pxx;
}
.nav a {
    color: #520027;
    text-decoration: none;
    transition: 0.3s;
}
.nav a:hover {
    color: #ffd700
}
.content {
    max-width: 50%;
}
.content h2 {
    color: #520027;
}
span {
    color:#520027;
}
main {
    padding: 50px 20px;
}
header {
  flex-wrap: nowrap;
}